<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<!-- Указываем, что IIS будет обрабатывать запросы через ASP.NET Core -->
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>

		<!-- Настройки для ASP.NET Core -->
		<aspNetCore processPath="dotnet" arguments=".\WebTranslator.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout">
			<environmentVariables>
				<!-- Переменная окружения для разработки (для продакшн-среды следует изменить на "Production") -->
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
			</environmentVariables>
		</aspNetCore>

		<!-- Включаем логирование stdout для получения ошибок -->
		<httpErrors errorMode="Detailed" />
		<tracing>
			<traceFailedRequests>
				<add path="*"/>
			</traceFailedRequests>
		</tracing>
	</system.webServer>
</configuration>
